.abt{
    width:100%;
    height:250vh;
    background-image:url("/logo.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: rgba(255, 255, 255, 0.845);
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.txt{
    width:1000px;
    padding-top: 10vh;
    margin-left: 20%;
    white-space: normal;
}